:root {
    /* COLORS */
    /* PRIMARY */
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    /* NEUTRAL */
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);

    /* SHADOW */
    --shadow: 0 1rem 1rem 0 rgba(110, 62, 22, 0.2);
}
@media (max-width: 900px) {
    .product-container {
        margin: 1rem;
    }

    .product-info {
        text-align: center;
    }
}

@media (max-width: 650px) {
    header {
        border-bottom: none;
        display: flex;
    }

    .logo-img {
        width: 100%;
    }

    .navigation {
        display: none;
        
    }

    .side-nav-toggle {
        display: block;
        cursor: pointer;
    }

    .cart-container {
        justify-content: right;
        gap: 1rem;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 0;
    }

    .img {
        border-radius: 0;
        margin-top: -100px;
    }

    .scroll-btn-container {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        margin: 1rem;
    }

    .arrow {
        background: var(--White);
        padding: 1.5rem;
        clip-path: circle(40% at 50% 50%);
        top: 15vh;
        position: relative;

    }
    
    .thumbnail {
        display: none;
    }

    .product-info {
        display: block;
        padding-top: 0px;
        margin-top: -65px;
        padding: 1rem;
        width: 450px;
    }

    .company-name {
        padding-bottom: .5rem;
        font-size: .7rem;
    }

    .product-name {
        font-size: 1.5rem;
    }

    .product-description {
        font-size: .95rem;
        line-height: 1.6rem;
    }

    .product-price {
        display: block;
    }

    .add-to-cart {
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: 300px;
    }
}

@media (max-width: 376px) {
    .product-name, .product-info {
        width: 340px;
    }

    .product-description {
        width: 340px;
    }

    .add-to-cart {
        width: 340px;
    }

    .btn {
        width: 340px;
    }
    
}

@media (max-width: 320px) {
    .product-name {
        width: 290px;
    }

    .product-info {
        width: 310px;
    }

    .product-description {
        width: 290px;
    }

    .product-price {
        width: 290px;
    }

    .add-to-cart {
        display: block;
        width: 290px;
    }

    .btn {
        margin-top: 1rem;
        width: 290px;
    }
}

@media (max-width:300px) {
    .product-name {
        width: 260px;
    }

    .product-info {
        width: 300px;
        text-align: center;
    }

    .product-description {
        width: 260px;
    }

    .product-price {
        width: 260px;
    }

    .add-to-cart {
        display: block;
        width: 260px;
    }

    .btn {
        margin-top: 1rem;
        width: 260px;
    }
}